<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="DiscordRPforVS.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <DiscordRPforVS.Properties.Settings>
            <setting name="enabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="showFileName" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="showSolutionName" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="showTimestamp" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="largeLanguage" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="secretMode" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="loadOnStartup" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="translates" serializeAs="String">
                <value>en-US</value>
            </setting>
            <setting name="resetTimestamp" serializeAs="String">
                <value>True</value>
            </setting>
        </DiscordRPforVS.Properties.Settings>
    </userSettings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
</configuration>
